In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data_df = pd.read_csv("dirty_sample_500.csv")
data_df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.8,310.3,1538,36.1,198,0,0,0,0,0,0
1,4685,M19544,M,303.6,311.8,1421,44.8,101,1,0,0,0,0,0
2,1732,M16591,M,298.3,307.9,1485,42.0,117,0,0,0,0,0,0
3,4743,L51922,L,303.3,311.3,1592,33.7,14,0,0,0,0,0,0
4,4522,L51701,L,302.4,310.4,1865,23.9,129,0,0,0,0,0,0
5,6341,H35754,H,300.5,309.9,1397,45.9,210,1,1,0,0,0,0
6,577,H29990,H,297.7,309.7,1440,51.1,191,0,0,0,0,0,0
7,5203,L52382,L,303.7,312.7,1335,51.1,161,0,0,0,0,0,0
8,6364,M21223,M,300.0,309.6,1618,36.2,53,0,0,0,0,0,0
9,440,M15299,M,NaN,308.3,1535,NaN,51,0,0,0,0,0,0

In [3]:
data_df.shape

(500, 14)

In [4]:
data_df.columns

Index(['UDI', 'Product ID', 'Type', 'Air temperature [K]',
       'Process temperature [K]', 'Rotational speed [rpm]', 'Torque [Nm]',
       'Tool wear [min]', 'Machine failure', 'TWF', 'HDF', 'PWF', 'OSF',
       'RNF'],
      dtype='object')

In [5]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   UDI                      500 non-null    int64
 1   Product ID               500 non-null    object
 2   Type                     500 non-null    object
 3   Air temperature [K]      480 non-null    float64
 4   Process temperature [K]  500 non-null    float64
 5   Rotational speed [rpm]   500 non-null    int64
 6   Torque [Nm]              480 non-null    float64
 7   Tool wear [min]          500 non-null    int64
 8   Machine failure          500 non-null    int64
 9   TWF                      500 non-null    int64
 10  HDF                      500 non-null    int64
 11  PWF                      500 non-null    int64
 12  OSF                      500 non-null    int64
 13  RNF                      500 non-null    int64
dtypes: float64(3), int64(9), object(2)
memory usage: 54.8+ KB

In [6]:
data_df.isnull().sum()

UDI                         0
Product ID                  0
Type                        0
Air temperature [K]        20
Process temperature [K]     0
Rotational speed [rpm]      0
Torque [Nm]                20
Tool wear [min]             0
Machine failure             0
TWF                         0
HDF                         0
PWF                         0
OSF                         0
RNF                         0
dtype: int64

In [7]:
data_df['Air temperature [K]'].fillna(data_df['Air temperature [K]'].mean(), inplace=True)
data_df['Torque [Nm]'].fillna(data_df['Torque [Nm]'].mean(), inplace=True)
data_df.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [8]:
data_df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.800000,310.3,1538,36.100000,198,0,0,0,0,0,0
1,4685,M19544,M,303.600000,311.8,1421,44.800000,101,1,0,0,0,0,0
2,1732,M16591,M,298.300000,307.9,1485,42.000000,117,0,0,0,0,0,0
3,4743,L51922,L,303.300000,311.3,1592,33.700000,14,0,0,0,0,0,0
4,4522,L51701,L,302.400000,310.4,1865,23.900000,129,0,0,0,0,0,0
5,6341,H35754,H,300.500000,309.9,1397,45.900000,210,1,1,0,0,0,0
6,577,H29990,H,297.700000,309.7,1440,51.100000,191,0,0,0,0,0,0
7,5203,L52382,L,303.700000,312.7,1335,51.100000,161,0,0,0,0,0,0
8,6364,M21223,M,300.000000,309.6,1618,36.200000,53,0,0,0,0,0,0
9,440,M15299,M,306.408542,308.3,1535,39.969583,51,0,0,0,0,0,0

In [82]:
data_df["Torque [Nm]"] = data_df["Torque [Nm]"].round(1)
data_df["Air temperature [K]"] = data_df["Air temperature [K]"].round(1)
data_df.head(10)

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,6253,L53432,L,300.8,310.3,1538,36.1,198,0,0,0,0,0,0
1,4685,M19544,M,303.6,311.8,1421,44.8,101,1,0,0,0,0,0
2,1732,M16591,M,298.3,307.9,1485,42.0,117,0,0,0,0,0,0
3,4743,L51922,L,303.3,311.3,1592,33.7,14,0,0,0,0,0,0
4,4522,L51701,L,302.4,310.4,1865,23.9,129,0,0,0,0,0,0
5,6341,H35754,H,300.5,309.9,1397,45.9,210,1,1,0,0,0,0
6,577,H29990,H,297.7,309.7,1440,51.1,191,0,0,0,0,0,0
7,5203,L52382,L,303.7,312.7,1335,51.1,161,0,0,0,0,0,0
8,6364,M21223,M,300.0,309.6,1618,36.2,53,0,0,0,0,0,0
9,440,M15299,M,306.4,308.3,1535,40.0,51,0,0,0,0,0,0

In [83]:
# Liệt kê tất cả giá trị khác nhau trong cột Type 
data_df['Type'].unique()

array(['L', 'M', 'H', nan, 'HIGH'], dtype=object)

In [84]:
# thống kê số lượng từng giá trị
data_df['Type'].value_counts()

Type
L       321
M       134
H        43
HIGH      1
Name: count, dtype: int64

In [85]:
# Chuẩn hóa chữ hoa/thường
data_df['Type'] = data_df['Type'].str.upper()

In [86]:
data_df['Type'].unique()

array(['L', 'M', 'H', nan, 'HIGH'], dtype=object)

In [87]:
# Xóa khoảng trắng thừa
data_df['Type'] = data_df['Type'].str.strip()

In [88]:
data_df['Type'].unique()

array(['L', 'M', 'H', nan, 'HIGH'], dtype=object)

In [89]:
# Chuyển giá trị lỗi thành NAN 
data_df['Type'] = data_df['Type'].replace('??', np.nan)

In [90]:
df1 = data_df.dropna()
df1.isnull().sum()

UDI                        0
Product ID                 0
Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Machine failure            0
TWF                        0
HDF                        0
PWF                        0
OSF                        0
RNF                        0
dtype: int64

In [91]:
# Giữ lại giá trị hợp lệ
valid_types = ['L', 'M', 'H']
df1 = df1[df1['Type'].isin(valid_types) | df1['Type'].isna()]

In [92]:
df1['Type'].unique()

array(['L', 'M', 'H'], dtype=object)

In [93]:
# Các giá trị outlier
mean = df1['Air temperature [K]'].mean()
std = df1['Air temperature [K]'].std()
outliers = df1[(df1['Air temperature [K]'] > mean + 3*std) |
(df1['Air temperature [K]'] < mean - 3*std)]
outliers

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
73,2895,L50074,L,912.6,309.6,1733,2.6,85,0,0,0,0,0,0
104,6844,L54023,L,912.6,311.3,1509,2.6,213,0,0,0,0,0,0
155,6898,L54077,L,912.6,311.6,1352,2.6,143,0,0,0,0,0,0
361,5460,L52639,L,912.6,312.5,1453,2.6,140,0,0,0,0,0,0
374,2911,L50090,L,912.6,309.5,1576,2.6,124,0,0,0,0,0,0

In [94]:
df1 = df1[df1['Air temperature [K]'] <= 400]

In [95]:
df1.to_csv("cleaned_data.csv", index=False, encoding='utf-8-sig')