In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snd

In [2]:
df = pd.read_csv('predictive_maintenance_dirty_dataset.csv')

In [4]:
df.shape

(305, 7)

In [5]:
df.head()

,Timestamp,Machine_ID,Temperature,Vibration,Pressure,Rotation_Speed,Failure
0,2025-08-01 00:33:00,PUMP_003,47.2 C,~2.26,314.738608,1534.211253,0
1,2025-08-01 01:08:00,PUMP_003,57.896064077536955,2.3837173645764542,NaN,NaN,0
2,2025-08-01 02:04:00,pump-001,51.20981135783017,1.043359877671101,292.750822,1485.942812,False
3,2025-08-01 03:02:00,PUMP_004,45.45987962239394,1.2938481493323541,324.656488,1494.355592,0
4,2025-08-01 03:25:00,PUMP_003,49.87772411252967,2.1777756585612162,314.170111,1520.811546,0

In [6]:
df.isnull().sum()

Timestamp          0
Machine_ID         0
Temperature       29
Vibration         30
Pressure          30
Rotation_Speed    30
Failure            0
dtype: int64

In [7]:
df['Machine_ID'].unique()

array(['PUMP_003', 'pump-001', 'PUMP_004', 'Pump_002'], dtype=object)

In [10]:
df.duplicated().value_counts()

False    300
True       5
Name: count, dtype: int64